{% extends 'hello/base.html' %}
{% block title %}about{% endblock title %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
<style>
h1 {text-align: center;}
.p1{
    margin-left:180px;
    margin-right:180px;
    margin-bottom:40px;
    padding:40px;
    border:10px solid aqua ;
    border-radius:120px;
    background-color:#D8F2FF;
}
.da{
    margin:40px;
    padding:20px;
}
.q{
    color:black;
    font-size:20px;
}
</style>
</head>
<body>
<div class="da">
<h1><font color="green" face="arial black">ROLES AND ACTIVITIES</font></h1>
</div>
<div class="p1">
<p class="q"><strong> Key Activities of Training and Placement Cell in Coming Year</strong></p>
<p style="text-align: justify;">Training and Placement Cell is a section within Student Support and Guidance, which specializes in helping students to develop their skills and get the job opportunities. <br />
It is a matter of great pleasure for the University to take this opportunity to invite potential companies to experience and evaluate the competency, skills and talent of our students and absorb them into their esteemed organizations.
</p>
</div>
<div class="p1">
<ol>
    <li class="q"><strong> Seminars &amp; workshops:</strong></li>
</ol>
<ul>
    <li>On Opportunities &amp; challenges in the coming year.</li>
    <li>Workshops on personality development.</li>
    <li>Technical session on advance topics.</li>
    <li>Students are given topics related to syllabus to speak, which build up confidence among the students.</li>
    <li>The CTPC Department encourages the students to participate in seminars, workshops, conferences, debates etc. to exhibit their potential.</li>
    <li>The Placement cell provides information regarding higher education in India and abroad, job opportunities and the requirement received from the industrial sector is generally circulated and displayed on notice board.</li>
    <li>E-information is communicated to students by e-mail.</li>
</ul>
<ol start="2">
    <li class="q"><strong> Soft Skills</strong></li>
</ol>
<ul>
    <li>Training in the areas such as Communication skills, Email etiquette, telephone etiquette, listening skills transform the employees and inculcate an attitude that is required to represent the organization to the global business world.</li>
</ul>
</div>
<div class="p1">
<ol start="3">
    <li class="q"><strong> Personality Development</strong></li>
</ol>
<ul>
    <li>Lectures by the experts and renowned personalities of academics and corporate sectors.</li>
    <li>The objective behind such lectures series is to give exposure and practical knowledge to the students.</li>
</ul>
<ol start="4">
    <li class="q"><strong> Internship Programs</strong></li>
</ol>
<ul>
    <li>All students take up internship assignment with different organizations.</li>
    <li>This is a compulsory component of the curriculum for the completion of the programme and is designed to provide exposure to working of organizations, as well as a chance to apply the learning in solving real-world business problems.</li>
    <li>Several organizations have made Preplacement offers to students through this route.</li>
</ul>
<ol start="5">
    <li class="q"><strong> Organizing Industrial visits for students</strong></li>
</ol>
<ul>
    <li>Industry visits broaden the outlook of students with exposure to different workforces from different industries.</li>
    <li>Industrial Visits help students to gain hands-on experience of how industry operations are executed.</li>
</ul>
</div>
</div>
<div class="p1">
<ol start="6">
    <li class="q"><strong> Career Counseling</strong></li>
</ol>
<ul>
    <li>Giving Motivational Talks.</li>
    <li>To promote career counseling by organizing guest speakers viz. senior corporate personnel and most importantly by the immediately placed senior students.</li>
    <li>Create awareness among students regarding available career options and help them in identifying their career objectives and Act as a bridge between students, alumni and employers.</li>
</ul>
<ol start="7">
    <li class="q"><strong> Mock Interviews</strong></li>
</ol>
<ul>
    <li>Mock Interviews help students to prepare well in terms of body language and professional etiquette.&nbsp;</li>
    <li>To boost confidence and reduce stress level at the time of final interviews, students are given guidance about how they should perform in an interview.</li>
</ul>
</div>
<div class="p1">
<ol start="8">
    <li class="q"><strong> Training &amp; Placement and its objectives</strong></li>
</ol>
<ul>
    <li>To provide ample of opportunities for placement of students to achieve placements.</li>
    <li>Tie-up arrangements with Industries &amp; Corporate of repute for Campus recruitment.</li>
    <li>To send data of eligible students to recruiters and invite them for recruitment.</li>
    <li>To prepare students for campus recruitment arranging training in Aptitude tests, Group discussions, preparing for Technical and HR interviews through professional trainers.</li>
    <li>To organize campus recruitment for the students with industries and business houses of repute from all over India.</li>
</ul>
<ol start="9">
    <li class="q"><strong> Activities taken for placement improvement</strong></li>
</ol>
<ul>
    <li>Involvement of industrial experts in University/Institute/college activities such as seminars and workshops.</li>
    <li>Pre-placement training of students by arranging training courses from Professional Institutes.</li>
    <li>University gives more emphasis on long term relationship with the companies.</li>
</ul>
<br />
</div>
</div>

</div><!-- End_Module_3554 --></div>
</div>
<div class="endContentPadding"></div>

<div>
    
    
    
    
    
</div>

<div class="containerPadding"></div>


</div></div>
                    </div>
                    <div class="top-cols">
                        <div id="dnn_Content_LeftPane1" class="col1 left DNNEmptyPane">
                        </div>
                        <div id="dnn_Content_RightPane1" class="col3 right DNNEmptyPane">
                        </div>
                        <div id="dnn_ContentPane" class="col2 DNNEmptyPane">
                        </div>
                    </div>
                    <div class="top-cols">
                        <div id="dnn_Content_FullPane2" class="colFull DNNEmptyPane">
                        </div>
                    </div>
                    <div class="top-cols">
                        <div id="dnn_Content_HalfLeftPane2" class="colHalf left DNNEmptyPane">
                        </div>
                        <div id="dnn_Content_HalfRightPane2" class="colHalf right DNNEmptyPane">
                        </div>
                    </div>
                    <div class="top-cols">
                        <div id="dnn_Content_LeftPane2" class="col1 left DNNEmptyPane">
                        </div>
                        <div id="dnn_Content_RightPane2" class="col3 right DNNEmptyPane">
                        </div>
                        <div id="dnn_ContentPane2" class="col2 DNNEmptyPane">
                        </div>
                    </div>
                    <div class="top-cols">
                        <div id="dnn_Content_FullPane3" class="colFull DNNEmptyPane">
                        </div>
                    </div>
                    <div class="top-cols">
                        <div id="dnn_Content_HalfLeftPane3" class="colHalf left DNNEmptyPane">
                        </div>
                        <div id="dnn_Content_HalfRightPane3" class="colHalf right DNNEmptyPane">
                        </div>
                    </div>
                    <div class="top-cols">
                        <div id="dnn_Content_LeftPane3" class="col1 left DNNEmptyPane">
                        </div>
                        <div id="dnn_Content_RightPane3" class="col3 right DNNEmptyPane">
                        </div>
                        <div id="dnn_Content_CenterPane3" class="col2 DNNEmptyPane">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/content containers-->
        <!--spacer-->
        <div class="spacer">
        </div>
        <!--/spacer-->
        <!--footer line-->
        <div class="footerLineTop">
        </div>
        <!--/footer line-->
        <!--footer containers-->
        <div class="lightBlueFooterContainers">
            <div class="skinMinWidth">
                <div class="contentPadding">
                    <div class="top-cols">
                        <div id="dnn_Footer_FullPane1" class="colFull DNNEmptyPane">
                        </div>
                    </div>
                    <div class="top-cols">
                        <div id="dnn_Footer_HalfLeftPane" class="colHalf left DNNEmptyPane">
                        </div>
                        <div id="dnn_Footer_HalfRightPane" class="colHalf right DNNEmptyPane">
                        </div>
                    </div>
                    <div class="top-cols">
                        <div id="dnn_Footer_LeftPane" class="col1 left DNNEmptyPane">
                        </div>
                        <div id="dnn_Footer_RightPane" class="col3 right DNNEmptyPane">
                        </div>
                        <div id="dnn_Footer_CenterPane" class="col2 DNNEmptyPane">
                        </div>
                    </div>
                </div>
            </div>
            <div class="lightBluefooterBottom">
                <div class="skinMinWidth">
                    <div class="contentPadding">
                        <div class="footerPosition">
                            <div class="footerPositionLeft bottomContainerWidth">
                                <div id="dnn_BottomPane" class="DNNEmptyPane">
                                </div>
                            </div>
                            <div class="footerPositionRight contentWidth">
                                <div class="displayText">
                                    <span id="dnn_dnnCOPYRIGHT_lblCopyright" class="BottomLinks"></span>
</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/footer containers-->
    </div>
</div> 
</div>
</body>
</html>
{% endblock body %}
