{% extends 'hello/base.html' %}
{% block title %}main{% endblock title %}
{% block body %}
<div class="da">
    <h1><font color="#151B54" face="arial black">WELCOME TO OUR PORTAL</font></h1>
    <h1 style="text-transform:uppercase"><font color="black" face="arial black">{{user.username}}</font></h1>
</div>
<br><br>
<div class="container">
    <h2 class="b">COURSES</h2>
    <br>
    <ul class="cards">
      <li class="card" style="background-color:#74E0D5">
        <div>
          <h3 class="card-title">DATA STRUCTURES</h3>
          <div class="card-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">Learn</a>
        </div>
      </li>
      <li class="card" style="background-color:#74E0D5">
        <div>
          <h3 class="card-title">PYTHON</h3>
          <div class="card-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repudiandae magnam harum natus fuga et repellat in maiores.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">Learn</a>
        </div>
      </li>
      <li class="card" style="background-color:#74E0D5">
        <div>
          <h3 class="card-title">JAVA</h3>
          <div class="card-content">
            <p>Phasellus ultrices lorem vel bibendum ultricies. In hendrerit nulla a ante dapibus pulvinar eu eget quam.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">Learn</a>
        </div>
      </li>
      <li class="card" style="background-color:#74E0D5">
        <div>
          <h3 class="card-title">DBMS</h3>
          <div class="card-content">
            <p>Aenean posuere mauris quam, pellentesque auctor mi bibendum nec. Sed scelerisque lacus nisi, quis auctor lorem ornare vel.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">Learn</a>
        </div>
      </li>
      <li class="card" style="background-color:#74E0D5">
        <div>
          <h3 class="card-title">C LANGUAGE</h3>
          <div class="card-content">
            <p>Vestibulum pharetra fringilla felis sit amet tempor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras et arcu sit amet est consequat feugiat. Nam ut sapien pulvinar.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">Learn</a>
        </div>
      </li>
      <li class="card" style="background-color:#74E0D5">
        <div>
          <h3 class="card-title">APTITUDE</h3>
          <div class="card-content">
            <p>Donec ut tincidunt nisl. Vivamus eget eros id elit feugiat mollis. Nam sed sem quis libero finibus tempor.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">Learn</a>
        </div>
      </li>
      <li class="card" style="background-color:#74E0D5">
        <div>
          <h3 class="card-title">MY SQL</h3>
          <div class="card-content">
            <p>Aliquam eget nisl auctor, sollicitudin ipsum at, dignissim ligula. Donec tincidunt in elit et pellentesque. Integer posuere metus ac massa mollis euismod.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">Learn</a>
        </div>
      </li>
      <li class="card" style="background-color:#74E0D5">
        <div>
          <h3 class="card-title">FRONTEND DEVELOPMENT</h3>
          <div class="card-content">
            <p> Vivamus eget eros id elit feugiat mollis. Nam sed sem quis libero finibus tempor.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">Learn</a>
        </div>
      </li>
      <li class="card" style="background-color:#74E0D5">
        <div>
          <h3 class="card-title">BACKEND DEVELOPMENT</h3>
          <div class="card-content">
            <p>Duis id congue turpis. Donec sodales porta felis, nec ultricies ante. Nam placerat vitae metus sit amet tempor. Aliquam ac dictum est.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">Learn</a>
        </div>
      </li>
      <li class="card" style="background-color:#74E0D5">
        <div>
          <h3 class="card-title">ENGLISH</h3>
          <div class="card-content">
            <p>Pellentesque eget eros eget justo efficitur fermentum.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">Learn</a>
        </div>
      </li>
    </ul>
  </div>
  <br><br><br>
  <div class="container">
    <h2 class="b">INTERVIEW PREPARATION</h2>
    <br>
    <ul class="cards">
      <li class="card" style="background-color:#DCF3C4">
        <div>
          <h3 class="card-title">COMPETITIVE PROGRAMMING</h3>
          <div class="card-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">Learn</a>
        </div>
      </li>
      <li class="card" style="background-color:#DCF3C4">
        <div>
          <h3 class="card-title">QUANTITATIVE APTITUDE</h3>
          <div class="card-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repudiandae magnam harum natus fuga et repellat in maiores.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">Learn</a>
        </div>
      </li>
      <li class="card" style="background-color:#DCF3C4">
        <div>
          <h3 class="card-title">LOGICAL REASONING</h3>
          <div class="card-content">
            <p>Phasellus ultrices lorem vel bibendum ultricies. In hendrerit nulla a ante dapibus pulvinar eu eget quam.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">Learn</a>
        </div>
      </li>
      <li class="card" style="background-color:#DCF3C4">
        <div>
          <h3 class="card-title">ENGLISH</h3>
          <div class="card-content">
            <p>Aenean posuere mauris quam, pellentesque auctor mi bibendum nec. Sed scelerisque lacus nisi, quis auctor lorem ornare vel.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">Learn</a>
        </div>
      </li>
    </ul>
  </div>
  <br><br><br>
  <div class="container">
    <h2 class="b">CODING PLATFORMS</h2>
    <br>
    <ul class="cards">
      <li class="card" style="background-color:#74E0D5">
        <div>
          <h3 class="card-title">HACKERRANK</h3>
          <div class="card-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">Visit</a>
        </div>
      </li>
      <li class="card" style="background-color:#74E0D5">
        <div>
          <h3 class="card-title">GEEKSFORGEEKS</h3>
          <div class="card-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repudiandae magnam harum natus fuga et repellat in maiores.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">Visit</a>
        </div>
      </li>
      <li class="card" style="background-color:#74E0D5">
        <div>
          <h3 class="card-title">INTERVIEWBIT</h3>
          <div class="card-content">
            <p>Phasellus ultrices lorem vel bibendum ultricies. In hendrerit nulla a ante dapibus pulvinar eu eget quam.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">visit</a>
        </div>
      </li>
      <li class="card" style="background-color:#74E0D5">
        <div>
          <h3 class="card-title">CODECHEF</h3>
          <div class="card-content">
            <p>Aenean posuere mauris quam, pellentesque auctor mi bibendum nec. Sed scelerisque lacus nisi, quis auctor lorem ornare vel.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">Visit</a>
        </div>
      </li>
    </ul>
  </div>
  <br><br><br>
  <div class="container">
    <h2 class="b">ACTIVITIES</h2>
    <br>
    <ul class="cards">
      <li class="card" style="background-color:#DCF3C4">
        <div>
          <h3 class="card-title">INTERNSHIPS</h3>
          <div class="card-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">Apply</a>
        </div>
      </li>
      <li class="card" style="background-color:#DCF3C4">
        <div>
          <h3 class="card-title">WORKSHOPS</h3>
          <div class="card-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repudiandae magnam harum natus fuga et repellat in maiores.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">Participate</a>
        </div>
      </li>
      <li class="card" style="background-color:#DCF3C4">
        <div>
          <h3 class="card-title">EVENTS</h3>
          <div class="card-content">
            <p>Phasellus ultrices lorem vel bibendum ultricies. In hendrerit nulla a ante dapibus pulvinar eu eget quam.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">Participate</a>
        </div>
      </li>
      <li class="card" style="background-color:#DCF3C4">
        <div>
          <h3 class="card-title">STUDENT CLUBS</h3>
          <div class="card-content">
            <p>Aenean posuere mauris quam, pellentesque auctor mi bibendum nec. Sed scelerisque lacus nisi, quis auctor lorem ornare vel.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">Join</a>
        </div>
      </li>
    </ul>
  </div>
  <br><br><br>
  <div class="container">
    <br><br><br>
    <ul class="cards">
      <li class="card" style="background-color:#FBD8AF">
        <div>
          <h3 class="card-title">CODING PRACTICE</h3>
          <div class="card-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">START</a>
        </div>
      </li>
      <li class="card" style="background-color:#74E0D5">
        <div>
          <h3 class="card-title">MOCK INTERVIEWS</h3>
          <div class="card-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repudiandae magnam harum natus fuga et repellat in maiores.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">PARTICIPATE</a>
        </div>
      </li>
      <li class="card" style="background-color:#74E0D5">
        <div>
          <h3 class="card-title">MOCK TESTS</h3>
          <div class="card-content">
            <p>Phasellus ultrices lorem vel bibendum ultricies. In hendrerit nulla a ante dapibus pulvinar eu eget quam.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">PARTICIPATE</a>
        </div>
      </li>
      <li class="card" style="background-color:#FBD8AF">
        <div>
          <h3 class="card-title">RESUME BUILDER</h3>
          <div class="card-content">
            <p>Aenean posuere mauris quam, pellentesque auctor mi bibendum nec. Sed scelerisque lacus nisi, quis auctor lorem ornare vel.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="" class="card-link">BUILD</a>
        </div>
      </li>
    </ul>
  </div>
    <style>
      .b{
        color:#151B54;
        font-family:arial black;
      }
    .da{
        margin:30px;
        padding:20px;
        text-align:center;
      }
      :root {
        --orange: #fd9940;
        --darkorange: #dd7d25;
        --platinum: #e5e5e5;
        --black: #2b2d42;
        --white: #fff;
        --thumb: #edf2f4;
      }
      
      * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }
      
      body {
        font: 16px / 24px "Rubik", sans-serif;
        color: var(--black);
        background: var(--platinum);
      }
      
      .container {
        max-width: 1400px;
        padding: 0 15px;
        margin: 0 auto;
      }
      
      h2 {
        font-size: 32px;
        margin-bottom: 1em;
      }
      
      .cards {
        display: grid;
        grid-auto-columns: 100%;
        grid-column-gap: 10px;
        grid-auto-flow: column;
        padding: 25px 0px;
        list-style: none;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
      }
      
      .card {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background: aliceblue;
        border-radius: 12px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
        scroll-snap-align: start;
        transition: all 0.2s;
      }
      
      .card:hover {
        background: #87CEEB;
      }
      
      .card .card-title {
        font-size: 30px;
        font-family:arial black;
      }
      
      .card .card-content {
        margin: 20px 0;
        max-width: 85%;
      }
      
      .card .card-link-wrapper {
        margin-top: auto;
      }
      
      .card .card-link {
        display: inline-block;
        text-decoration: none;
        color: white;
        background:#151B54;
        padding: 6px 12px;
        border-radius: 8px;
        transition: background 0.2s;
      }
      
      .cards::-webkit-scrollbar {
        height: 12px;
      }
      
      .cards::-webkit-scrollbar-thumb,
      .cards::-webkit-scrollbar-track {
        border-radius: 92px;
      }
      
      .cards::-webkit-scrollbar-thumb {
        background:white;
      }
      
      @media (min-width: 500px) {
        .cards {
          grid-auto-columns: calc(50% - 10px);
          grid-column-gap: 20px;
        }
      }
      
      @media (min-width: 700px) {
        .cards {
          grid-auto-columns: calc(calc(100% / 3) - 20px);
          grid-column-gap: 30px;
        }
      }
      
      @media (min-width: 1100px) {
        .cards {
          grid-auto-columns: calc(25% - 30px);
          grid-column-gap: 40px;
        }
      }
      
      
      
      .page-footer {
        position: fixed;
        right: 0;
        bottom: 50px;
        display: flex;
        align-items: center;
        padding: 5px;
        z-index: 1;
      }
      
      .page-footer a {
        display: flex;
        margin-left: 4px;
      }
</style>
{%endblock%}