{% extends 'hello/base.html' %}
{% block title %}placed{% endblock title %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-right:100px;
  margin-left:100px;
  margin-top:80px;
}

td, th {
  border: 1px solid skyblue;
  text-align: left;
  padding: 8px;
  font-family:arial black;
}

tr:nth-child(even) {
  background-color:#E1F6FF;
}
</style>
</head>
<body>
<br>
<br>
<br>
<br>
<h2><center><font face="arial black" color="green" size="10px">PLACEMENTS</font></center></h2>

<table>
  <tr>
    <th>S.NO</th>
    <th>BRANCH</th>
    <th>STUDENT</th>
    <th>NAME</th>
    <th>COMPANY</th>
    <th>PACKAGE</th>
  </tr>
  <tr>
    <td>1</td>
    <td>IT</td>
    <td><img src="https://thumbs.dreamstime.com/b/executive-businessman-smilig-profile-cartoon-vector-illustration-graphic-design-154894544.jpg" width="70" height="70" class="rounded-circle border border-white"></td>
    <td>RAHUL</td>
    <td>MICROSOFT</td>
    <td>30 LACS</td>
  </tr>
  <tr>
    <td>2</td>
    <td>IT</td>
    <td><img src="https://thumbs.dreamstime.com/b/executive-businessman-smilig-profile-cartoon-vector-illustration-graphic-design-154894544.jpg" width="70" height="70" class="rounded-circle border border-white"></td>
    <td>SHIVA</td>
    <td>GOOGLE</td>
    <td>20 LAC</td>
  </tr>
  <tr>
    <td>3</td>
    <td>CSE</td>
    <td><img src="https://thumbs.dreamstime.com/b/executive-businessman-smilig-profile-cartoon-vector-illustration-graphic-design-154894544.jpg" width="70" height="70" class="rounded-circle border border-white"></td>
    <td>RAJU</td>
    <td>IBM</td>
    <td>29 LACS</td>
  </tr>
  <tr>
    <td>4</td>
    <td>CSE</td>
    <td><img src="https://thumbs.dreamstime.com/b/executive-businessman-smilig-profile-cartoon-vector-illustration-graphic-design-154894544.jpg" width="70" height="70" class="rounded-circle border border-white"></td>
    <td>ASHRITH</td>
    <td>AMAZON</td>
    <td>29 LACS</td>
  </tr>
  <tr>
    <td>5</td>
    <td>ECE</td>
    <td><img src="https://thumbs.dreamstime.com/b/executive-businessman-smilig-profile-cartoon-vector-illustration-graphic-design-154894544.jpg" width="70" height="70" class="rounded-circle border border-white"></td>
    <td>AJAY</td>
    <td>INFOSYS</td>
    <td>15 LACS</td>
  </tr>
  <tr>
    <td>6</td>
    <td>ECE</td>
    <td><img src="https://thumbs.dreamstime.com/b/executive-businessman-smilig-profile-cartoon-vector-illustration-graphic-design-154894544.jpg" width="70" height="70" class="rounded-circle border border-white"></td>
    <td>MAHESH</td>
    <td>TCS</td>
    <td>10 LACS</td>
  </tr>
  <tr>
    <td>7</td>
    <td>EEE</td>
    <td><img src="https://thumbs.dreamstime.com/b/executive-businessman-smilig-profile-cartoon-vector-illustration-graphic-design-154894544.jpg" width="70" height="70" class="rounded-circle border border-white"></td>
    <td>ALOK</td>
    <td>CAPGEMINI</td>
    <td>6 LACS</td>
  </tr>
  <tr>
    <td>8</td>
    <td>CSIT</td>
    <td><img src="https://thumbs.dreamstime.com/b/executive-businessman-smilig-profile-cartoon-vector-illustration-graphic-design-154894544.jpg" width="70" height="70" class="rounded-circle border border-white"></td>
    <td>RAVINDER</td>
    <td>ORACLE</td>
    <td>16 LACS</td>
  </tr>
  <tr>
    <td>9</td>
    <td>AE</td>
    <td><img src="https://thumbs.dreamstime.com/b/executive-businessman-smilig-profile-cartoon-vector-illustration-graphic-design-154894544.jpg" width="70" height="70" class="rounded-circle border border-white"></td>
    <td>ARAVIND</td>
    <td>COGNIZANT</td>
    <td>6 LACS</td>
  </tr>
  <tr>
    <td>10</td>
    <td>EEE</td>
    <td><img src="https://thumbs.dreamstime.com/b/executive-businessman-smilig-profile-cartoon-vector-illustration-graphic-design-154894544.jpg" width="70" height="70" class="rounded-circle border border-white"></td>
    <td>AMITH</td>
    <td>DELOITE</td>
    <td>7 LACS</td>
  </tr>
</table>
<br><br><br><br>

</body>
</html>


{%endblock body%}
